/* DEFAULTS */
* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

/* ROOT */
#root {
    margin: auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 70px auto 45px 10px;
    transition: .5s;

    background-image: url('img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
}

/* Login page */
#login-page {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 139, 139, .5);
    transition: .5s;
}
#login-page .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#login-page p {
    padding-bottom: 10px;
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
#login-page input {
    margin: 5px;
    padding: 10px;
    border-radius: 50px;
    border: none;

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#login-page button {
    margin-top: 5px;
    margin-left: 25%;
    padding: 8px 10px;
    width: 50%;
    border: 1px solid cyan;
    border-radius: 3px;
    background: rgba(0, 0, 0, .1);
    transition: .25s;

    text-transform: uppercase;
    font-weight: 300;
    color: white;
}
#login-page button:hover {
    background-color: cyan;
    color: black;
}

/* Header */
header {
    background: darkcyan;
    display: table;
}
header h1 {
    padding: 15px;
    font-size: 25px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

/* Messages */
#messages {
    overflow: auto;
    padding-bottom: 5px;
}

/* Message */
div.message {
    display: inline-block;
    width: calc(100%);
}
div.message .inner {
    position: relative;
    margin-top: 5px;
    padding: 8px 10px;
    background: white;
    border-radius: 3px;
}
div.message .inner .sender {
    padding-right: 35px;
    margin-bottom: 3px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 15px;
}
div.message .inner .content {
    padding-right: 35px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}
div.message .inner .time {
    position: absolute;
    bottom: 7px;
    right: 10px;
    float: left;

    color: gray;
    font-weight: bold;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

div.someones.message .decor {
    position: absolute;
    top: 10px;
    left: -7px;
    width: 14px;
    height: 14px;
    border-radius: 0px 3px;
    background: white;

    transform: rotate(45deg);
    z-index: 1;
}
div.someones.message .inner {
    float: left;
    margin-left: 20px;
}

div.my.message .inner {
    float: right;
    margin-right: 20px;
    background: cyan;
}
div.my.message .sender {
    display: none;
}
div.my.message .decor {
    position: absolute;
    top: 10px;
    right: -7px;
    width: 14px;
    height: 14px;
    border-radius: 0px 3px;
    background: cyan;

    transform: rotate(45deg);
    z-index: 1;
}

div.message.continue .inner { margin-top: 0px; }
div.message.continue .sender { display: none; }
div.message.continue .decor { display: none; }

/* INPUT */
#input {
    display: grid;
    grid-template-columns: auto 45px 10px;
}
#input input {
    margin-left: 10px;
    margin-right: 5px;
    height: 100%;
    border: none;
    border-radius: 25px;

    text-indent: 20px;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#input button {
    padding-top: 3px;
    padding-right: 3px;
    margin: 0px;
    height: 100%;
    border: none;
    border-radius: 50%;
    background: darkcyan;
    transition: 0.15s;

    color: white;
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    body {
        background-image: url('img/bg.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #root {
        margin: 0 auto;
        width: 400px;
        background: transparent;
    }

    header {
        background: transparent;
        text-align: center;
    }

    header h1 {
        font-weight: bold;
    }

    #login-page input {
        margin-left: calc(15% - 20px);
        margin-right: 15%;
    }
}